@font-face {
    font-family: font1;
    src: url('NeueHaasDisplayMediu.ttf');
}

@font-face {
    font-family: font2; 
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face{
    font-family: font3;
    src: url(./NeueHaasDisplayRegular.ttf);
}

*::selection {
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font1;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    left: 0;
    bottom: -100%;
    transition: all ease 0.3s;
    border-radius: 50%;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
    font-size: 18px;
}

#nav-part2 h4 a:hover {
    color: white;
}

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left {
    width: 40vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#right h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 67vh;
    
}

#hero1 {
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
    position: absolute;
}

#hero2 {
    height: 30vw;
    width: 30vw;
    background:linear-gradient(#FE320A,#fe3f0a);
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
     animation-name: anima2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#hero3 {
    height: 30vw;
    width: 30vw;
    background:linear-gradient(#FE320A,#fe3f0a);
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anima1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes anima1 {
    from{
        transform: translate(55%,-2%);
    }
    to{
        transform: translate(0%,10%); 
    }
}
@keyframes anima2 {
    from{
        transform: translate(3%,-5%);
    }
    to{
        transform: translate(-20%,30%); 
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color:#efeae3;
    padding: 8vw 0;
}
#moving-text{
    overflow-x:auto ;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
font-size: 8vw;
display: inline-block;
}
#gola{
    width: 70px;
    height: 70px;
    background-color: #FE320A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#page2-bottom{
    height: 80vh;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
}

#page2-bottom h1{
font-size: 4vw;
width: 60%;
line-height: 4vw;
}
#bottom-part2{
    width: 25%;
}
#bottom-part2 img{
width: 100%;
border-radius: 15px;
}

#bottom-part2 p{
    font-family: font3;
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1.5vw;
}